In [42]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import pandas as pd
import numpy as np
import os
from itertools import cycle, islice
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

import seaborn

In [43]:
csv_to_load = "../Resources/joined.csv"
nyt_to_load = "../Resources/NYT.csv"
cdc_to_load = "../Resources/CDC.csv"
ggl_to_load = "../Resources/GOOG.csv"
cdcy_to_load = "../Resources/CDCYear.csv"
ggly_to_load = "../Resources/GOOGYear.csv"
nyty_to_load = "../Resources/NYTYear.csv"
joined_to_load = '../Resources/joined.csv'
csv = pd.read_csv(csv_to_load)
nyt = pd.read_csv(nyt_to_load)
cdc = pd.read_csv(cdc_to_load)
ggl = pd.read_csv(ggl_to_load)
cdcy = pd.read_csv(cdcy_to_load)
ggly = pd.read_csv(ggly_to_load)
nyty = pd.read_csv(nyty_to_load)
joined_csv = pd.read_csv(joined_to_load)

In [44]:
csv_df = pd.DataFrame(csv)
nyt_df = pd.DataFrame(nyt)
cdc_df = pd.DataFrame(cdc)
ggl_df = pd.DataFrame(ggl)
cdcy_df = pd.DataFrame(cdcy)
nyty_df = pd.DataFrame(nyty)
ggly_df = pd.DataFrame(ggly)
joined_df = pd.DataFrame(joined_csv)

In [45]:
joined_df.head()

       causes  year        cdc  nyt   ggl
0  alzhiemers  2006  24.275093  531  61.3
1  alzhiemers  2007  24.775653  391  54.7
2  alzhiemers  2008  27.108397  361  55.0
3  alzhiemers  2009  25.753042  427  50.2
4  alzhiemers  2010  27.042982  313  32.8

In [55]:
joined_df.plot(kind = 'line', x = 'year', y = 'cdc', color = 'red', ax = ax, figsize = (15, 5))
plt.show()